extends layout
block content
    if (errors.length)
        p There was a problem with your config file&nbsp;
            code= configFile
            | . Check your file or go to&nbsp;
            a(href=github) the info page
            |  to read more about configuration. You must restart the app after you
            | changed your configuration file.
        each error in errors
            p.error= error

    if (warnings.length)
        unless (errors.length)
            p There was a problem with your config file&nbsp;
                code= configFile
                | . Check your file or go to&nbsp;
                a(href=github) the info page
                |  to read more about configuration. You must restart the app after you
                | changed your configuration file.
        each warning in warnings
            p.warning= warning

    unless (errors.length)
        h2 Configured projects:
        .container.projects
            if (!projects)
                p No projects found in
                    code= configFile
            else
                each project in projects
                    .summary.well
                        h3= project.name
                        p.info Found globs are:
                            ul
                                each glob in project.globs
                                    li= glob


